<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1034211280369-qnss4pcfe15ckoe1p2hg38c22u5nq7vj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034211280369-qnss4pcfe15ckoe1p2hg38c22u5nq7vj</string>
	<key>API_KEY</key>
	<string>AIzaSyBHS3qoxCOUBnZ9mM93QN6M2kJAUDHAS4E</string>
	<key>GCM_SENDER_ID</key>
	<string>1034211280369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nickelfox.FoxCast</string>
	<key>PROJECT_ID</key>
	<string>foxcast</string>
	<key>STORAGE_BUCKET</key>
	<string>foxcast.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034211280369:ios:0680a9c4b0ffafa0</string>
	<key>DATABASE_URL</key>
	<string>https://foxcast.firebaseio.com</string>
</dict>
</plist>